{{> cabecera }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>{{ heroe }}</h1>
        <h2>El Hombre murcielago</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ratione, quod qui ut quam omnis debitis cumque iure veniam reiciendis necessitatibus pariatur dolore sapiente corporis perferendis consequatur recusandae amet quas.
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/batman.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}